<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATOKスタイル_Revision</key>
	<integer>1</integer>
	<key>ATOKスタイル_Version</key>
	<integer>35</integer>
	<key>キー</key>
	<data>
	AAAAGQAZAFAAUACQAJAA0gDSAPwA/AEk////////////////////////////////////
	//////8BJAE1ATUBNREo////////AB8RCP///////wAgBQ0FbxENEW8APBQFESf/////
	AEEUGgFQ/////wBJFBgFUP////8ASiAg////////AFcUFgVS/////wB9FAIRUv////8A
	fhQDAVL/////AIwUGf///////wCfFAj///////8AsBQEESv/////ALQVK////////wC+
	FAH///////8AwBQGESz/////AMEVLP///////wDDEWUhZf////8AxhFoIWj/////AMcU
	MP///////wDPFBP///////8A0BQx////////ANUBG////////wDZFDkVKv////8A3RQU
	////////AO4BCBAI/////wAAEAcBZP////8AAQFnEAz/////AAIBZhAL/////wADEWch
	Z/////8ABBFmIWb/////AAUUCv///////wAHACAgIP////8ACAQg////////AAkFaP//
	/////wAKEAABKv////8ACxAVASb/////AAwQCQEn/////wANEA8BKP////8ADhAQASn/
	////AA8QMQEh/////wAREDIBIv////8AEhAzASP/////ABMQNAEk/////wAUEDUBJf//
	//8AFRQ2BSb/////ABYBaBAO/////wAbFCAQIP////8AHAENEA0Bb///AB0BGwFHBRv/
	/wAeEQj///////8AIBAK////////AC8FDQVvEQ0RbwA8FBoBUP////8ASRQYBVD/////
	AEoQFwFq/////wBeFBcFav////8AXxAB////////AGshCf///////wB4FBYFUv////8A
	fRQCEVL/////AH4QOwEr/////wB/FAMBUv////8AjAEJ////////AJ4UCP///////wCw
	FAQRK/////8AtBUr////////AL4UAf///////wDAFSz///////8AwxFlBQkhZf//AMYR
	aCFo/////wDHFDD///////8AzxQT////////ANAUMf///////wDVIQ0hb/////8A2BVi
	////////AOcVYf///////wDoJHcVav////8A6hAU////////AO0UFP///////wDuEAcB
	ZP////8AAQAgICD/////AAgEIP///////wAJBWj///////8AChAAASr/////AAsQFQEm
	/////wAMEAkBJ/////8ADRAPASj/////AA4QEAEp/////wAPEDEBIf////8AERAyASL/
	////ABIQMwEj/////wATEDQBJP////8AFBA1ASX/////ABUUNgUm/////wAWAWgQDv//
	//8AGxQgECD/////ABwBDRANAW///wAdARv///////8AHhEI////////ACAQCv//////
	/wAvAWIUDv////8AMAFhFA3/////ADEBCBAIAUcFGwAyFAr///////8AMwFnEAz/////
	ADQBZhAL/////wA1BWf///////8ANgVm////////ADcRZyFn/////wA4EWYhZv////8A
	ORAEEWT/////ADoFZP///////wA7BQ0FbxENEW8APBQaAVD/////AEkUGAVQ/////wBK
	EBcBav////8AXhQXBWr/////AF8QAf///////wBrIQn///////8AeBVn////////AHsV
	Zv///////wB8FBYFUv////8AfRQCEVL/////AH4QOwEr/////wB/FAMBUv////8AjBQI
	////////ALAUBBEr/////wC0FSv///////8AvhQB////////AMAVLP///////wDDEWUh
	Zf////8AxgEJEWghaP//AMcUMP///////wDPFBP///////8A0BAT////////ANEUMf//
	/////wDVIQ0hb/////8A2BVi////////AOcVYf///////wDoJHcVav////8A6hAU////
	////AO0UFP///////wDuBQj///////8A3BAHAWT/////AAEAIBFoIWj//wAIBCABZRFl
	IWUACQVo////////AAoQAAEq/////wALEBUBJv////8ADBAJASf/////AA0QDwEo////
	/wAOEBABKf////8ADxAxASH/////ABEQMgEi/////wASEDMBI/////8AExA0AST/////
	ABQQNQEl/////wAVFDYFJv////8AFgFoEA7/////ABsUIBAg/////wAcAQ0QDQFv//8A
	HQEb////////AB4BYhQO/////wAwAWEUDf////8AMQEIEAgBRwUbADIUCv///////wAz
	AWcQDP////8ANAFmEAv/////ADUFZ////////wA2BWb///////8ANxFnIWf/////ADgR
	ZiFm/////wA5EAQRZP////8AOgVk////////ADsFDQVvEQ0RbwA8ICD///////8APiQg
	////////AD8UGgFQ/////wBJFBgFUP////8AShAXAWr/////AF4UFwVq/////wBfEAH/
	//////8AawEJEAr/////AHYFCf///////wB3IQn///////8AeBVn////////AHsVZv//
	/////wB8FBYFUv////8AfRQCEVL/////AH4QOwEr/////wB/FAMBUv////8AjBFiFCz/
	////AI4RYRQu/////wCPFAj///////8AsBQEESv/////ALQVK////////wC+FAH/////
	//8AwBUs////////AMMUMP///////wDPFBP///////8A0BAT////////ANEUMf//////
	/wDVIQ0hb/////8A2BVi////////AOcVYf///////wDoJHcVav////8A6hAU////////
	AO0UFP///////wDuAWn///////8A2xAAASr/////AAsQFQEm/////wAMEAkBJ/////8A
	DRAPASj/////AA4QEAEp/////wAPEDEBIf////8AERAyASL/////ABIQMwEj/////wAT
	EDQBJP////8AFBA1ASX/////ABUUNgUm/////wAWAQgQCAFHBRsAMhQK////////ADMQ
	BBFk/////wA6BWT///////8AOyAg////////AD4kIP///////wA/FBoBUP////8ASRQY
	BVD/////AEoBCRAK/////wB2BQn///////8AdyEJ////////AHgUFgVS/////wB9FAIR
	Uv////8AfhA7ASv/////AH8UAwFS/////wCMEWIULP////8AjhFhFC7/////AI8AIAFn
	FCAQIACoAWb///////8AqgFo////////AKsBZf///////wCsAQ0QDQFv//8ArQEb////
	////AK4UCP///////wCwFAQRK/////8AtBUr////////AL4UAf///////wDAFSz/////
	//8AwxQw////////AM8UE////////wDQFDH///////8A1QAgICD/////AAgFaP//////
	/wAKEAABKv////8ACxAVASb/////AAwQCQEn/////wANEA8BKP////8ADhAQASn/////
	AA8QMQEh/////wAREDIBIv////8AEhAzASP/////ABMQNAEk/////wAUEDUBJf////8A
	FRQ2BSb/////ABYBaBAO/////wAbFCAQIP////8AHAENEA0Bb///AB0BG////////wAe
	EQj///////8AIBAK////////AC8BCBAIAUcFGwAyAWcQDP////8ANAFmEAv/////ADUU
	GgFQ/////wBJFBgFUP////8ASiEJ////////AHgVZ////////wB7FWb///////8AfBQW
	BVL/////AH0UAhFS/////wB+EDsBK/////8AfxQDAVL/////AIwUCP///////wCwFAQR
	K/////8AtBUr////////AL4UAf///////wDAFSz///////8AwxQw////////AM8UE///
	/////wDQFDH///////8A1SENIW//////ANgUGgFQ/////wBJFBgFUP////8ASiAg////
	////AFcUFgVS/////wB9FAIRUv////8AfhQDAVL/////AIwUGf///////wCfFAj/////
	//8AsBQEESv/////ALQVK////////wC+FAH///////8AwBQGESz/////AMEVLP//////
	/wDDFDD///////8AzxQT////////ANAUMf///////wDVFDkVKv////8A3f//////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////
	</data>
	<key>ローマ字</key>
	<data>
	AAAA/wEAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAABAAEAAQACAAEAAwABAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAE
	AAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAA
	BAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAA
	AAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAEABQAAAAUA
	AQAGAAAABgAAAAYAAAAGAAEABwALABIACwAdABEALgABAC8ACwA6AAwARgALAFEAAQBS
	AAsAXQAMAGkAEAB5AAsAhAAOAJIAAQCTAAsAngAAAJ4ACwCpABAAuQAWAM8AAQDQAAYA
	1gAIAN4AEADuAAYA9AALAP8AAAD/AAAA/wAAAP8AAAD/AAAAAAEBAAIBAQAEAQEABgEB
	AAgBAQAKAQEADAEBAA4CAQARAgIAFQICABkCAgAdAgIAIQICACUDAwArAwMAMQMDADcD
	AwA9AwMAQwIBAEYDAgBLAwIAUAMBAFQDAgBZAwIAXgMCAGMDAgBoAwIAbQMCAHIDAgB3
	AgEAegICAH4CAgCCAwMAiAMDAI4DAwCUAwMAmgMDAKACAgCkAgIAqAICAKwDAwCyAwMA
	uAMDAL4DAwDEAwMAygMDANABAQDSAgEA1QICANkCAgDdAgIA4QICAOUCAQDoAwIA7QMC
	APIDAgD3AwIA/AMCAQECAQEEAgIBCAICAQwCAgEQAgIBFAICARgDAwEeAwMBJAMDASoD
	AwEwAwMBNgMDATwCAQE/AgEBQgIBAUUCAQFIAgEBSwIBAU4DAgFTAwIBWAMCAV0DAgFi
	AwIBZwEBAWkCAQFsAgMBcQIDAXYCAgF6AgMBfwIDAYQDAwGKAwMBkAMDAZYDAwGcAwMB
	ogIBAaUCAQGoAgEBqwIBAa4CAQGxAgEBtAMCAbkDAgG+AwIBwwMCAcgDAgHNAwIB0gIB
	AdUCAQHYAgEB2wIBAd4DAQHiAwEB5gIBAekEAQHuAwEB8gIBAfUDAQH5AwEB/QMBAgED
	AQIFAwECCQMBAg0CAQIQAgECEwIBAhYCAQIZAgECHAIBAh8DAgIkAwICKQMCAi4DAgIz
	AwICOAIBAjsCAQI+AgECQQIBAkQCAQJHAgECSgIBAk0CAQJQAgECUwMCAlgDAgJdAwIC
	YgMCAmcDAgJsAQECbgIBAnECAgJ1AgICeQICAn0CAgKBAgIChQMDAosDAwKRAwMClwMD
	Ap0DAwKjAgECpgIBAqkCAQKsAgECrwIBArICAQK1AwICugMCAr8DAgLEAwICyQMCAs4C
	AQLRAgEC1AIBAtcDAgLcAwIC4QMBAuUDAgLqAwIC7wIBAvICAQL1AgEC+AMCAv0DAgMC
	AwIDBwMCAwwDAgMRAgEDFAIBAxcCAQMaAwIDHwMCAyQDAgMpAwIDLgMCAzMCAQM2AgED
	OQMCAz4DAgNDAwIDSAMCA00DAQNRAgEDVAMCA1kDAgNeAwIDYwMCA2gDAgNtAwIDcgEB
	A3QCAQN3AgMDfAIDA4ECAwOGAgMDiwICA48CAQOSAgEDlQICA5kCAgOdAgEDoAIBA6MD
	AQOnAwEDqwIBA64CAQOxAgEDtAIBA7cDAQO7AwEDvwIBA8IEAQPHAwEDywIBA84DAQPS
	AwED1gMBA9oDAQPeAwED4gMBA+YCAQPpAgED7AICA/ACAQPzAgED9gIBA/kCAQP8AgIE
	AAICBAQCAgQIAgIEDAICBBADAwQWAwMEHAMDBCIDAwQoAwPd3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3dACz/ZAAt/3AA
	Lv9hAC//ZQBb/2IAXf9jAGH/cQBiAB//bwBiAGH/iv+eAGIAZf+N/54AYgBp/4v/ngBi
	AG//jv+eAGIAdf+M/54AYgB5AGH/i/+e/2wAYgB5AGX/i/+e/2oAYgB5AGn/i/+e/2gA
	YgB5AG//i/+e/24AYgB5AHX/i/+e/20AYwAf/28AYwBoAGH/gf9sAGMAaABl/4H/agBj
	AGgAaf+BAGMAaABv/4H/bgBjAGgAdf+B/20AYwB5AGH/gf9sAGMAeQBl/4H/agBjAHkA
	af+B/2gAYwB5AG//gf9uAGMAeQB1/4H/bQBkAB//bwBkAGH/gP+eAGQAZf+D/54AZABo
	AGH/g/+e/2wAZABoAGX/g/+e/2oAZABoAGn/g/+e/2gAZABoAG//g/+e/24AZABoAHX/
	g/+e/20AZABp/4H/ngBkAG//hP+eAGQAdf+C/54AZAB3AHX/hP+e/2kAZAB5AGH/gf+e
	/2wAZAB5AGX/gf+e/2oAZAB5AGn/gf+e/2gAZAB5AG//gf+e/24AZAB5AHX/gf+e/20A
	Zf90AGYAH/9vAGYAYf+M/2cAZgBl/4z/agBmAGn/jP9oAGYAb/+M/2sAZgB1/4wAZgB5
	AGH/jP9sAGYAeQBl/4z/agBmAHkAaf+M/2gAZgB5AG//jP9uAGYAeQB1/4z/bQBnAB//
	bwBnAGH/dv+eAGcAZf95/54AZwBp/3f/ngBnAG//ev+eAGcAdf94/54AZwB3AGH/eP+e
	/2cAZwB5AGH/d/+e/2wAZwB5AGX/d/+e/2oAZwB5AGn/d/+e/2gAZwB5AG//d/+e/24A
	ZwB5AHX/d/+e/20AaAAf/28AaABh/4oAaABl/40AaABp/4sAaABv/44AaAB1/4wAaAB5
	AGH/i/9sAGgAeQBl/4v/agBoAHkAaf+L/2gAaAB5AG//i/9uAGgAeQB1/4v/bQBp/3IA
	agAf/28AagBh/3z/nv9sAGoAZf98/57/agBqAGn/fP+eAGoAb/98/57/bgBqAHX/fP+e
	/20AagB5AGH/fP+e/2wAagB5AGX/fP+e/2oAagB5AGn/fP+e/2gAagB5AG//fP+e/24A
	agB5AHX/fP+e/20AawAf/28AawBh/3YAawBl/3kAawBp/3cAawBv/3oAawB1/3gAawB3
	AGH/eP9nAGsAeQBh/3f/bABrAHkAZf93/2oAawB5AGn/d/9oAGsAeQBv/3f/bgBrAHkA
	df93/20AbAAf/28AbABh/2cAbABl/2oAbABp/2gAbABrAGEAEgBsAGsAZQATAGwAb/9r
	AGwAdABzAHX/bwBsAHQAdf9vAGwAdf9pAGwAdwBhABQAbAB5AGH/bABsAHkAZf9qAGwA
	eQBp/2gAbAB5AG//bgBsAHkAdf9tAG0AH/9vAG0AYf+PAG0AZf+SAG0Aaf+QAG0Ab/+T
	AG0Adf+RAG0AeQBh/5D/bABtAHkAZf+Q/2oAbQB5AGn/kP9oAG0AeQBv/5D/bgBtAHkA
	df+Q/20AbgAe/50AbgAf/28AbgAn/50AbgBh/4UAbgBl/4gAbgBp/4YAbgBu/50AbgBv
	/4kAbgB1/4cAbgB5AGH/hv9sAG4AeQBl/4b/agBuAHkAaf+G/2gAbgB5AG//hv9uAG4A
	eQB1/4b/bQBv/3UAcAAf/28AcABh/4r/nwBwAGX/jf+fAHAAaf+L/58AcABv/47/nwBw
	AHX/jP+fAHAAeQBh/4v/n/9sAHAAeQBl/4v/n/9qAHAAeQBp/4v/n/9oAHAAeQBv/4v/
	n/9uAHAAeQB1/4v/n/9tAHIAH/9vAHIAYf+XAHIAZf+aAHIAaf+YAHIAb/+bAHIAdf+Z
	AHIAeQBh/5j/bAByAHkAZf+Y/2oAcgB5AGn/mP9oAHIAeQBv/5j/bgByAHkAdf+Y/20A
	cwAf/28AcwBh/3sAcwBl/34AcwBoAGH/fP9sAHMAaABl/3z/agBzAGgAaf98AHMAaABv
	/3z/bgBzAGgAdf98/20AcwBp/3wAcwBv/38AcwB1/30AcwB5AGH/fP9sAHMAeQBl/3z/
	agBzAHkAaf98/2gAcwB5AG//fP9uAHMAeQB1/3z/bQB0AB//bwB0AGH/gAB0AGX/gwB0
	AGgAYf+D/2wAdABoAGX/g/9qAHQAaABp/4P/aAB0AGgAb/+D/24AdABoAHX/g/9tAHQA
	af+BAHQAb/+EAHQAcwBh/4L/ZwB0AHMAZf+C/2oAdABzAGn/gv9oAHQAcwBv/4L/awB0
	AHMAdf+CAHQAdf+CAHQAdwB1/4T/aQB0AHkAYf+B/2wAdAB5AGX/gf9qAHQAeQBp/4H/
	aAB0AHkAb/+B/24AdAB5AHX/gf9tAHX/cwB2AB//bwB2AGH/c/+e/2cAdgBl/3P/nv9q
	AHYAaf9zACz/ZAAt/3AALv9hAC//ZQBb/2IAXf9jAGH/cQBiAB//bwBiAGH/iv+eAGIA
	Zf+N/54AYgBp/4v/ngBiAG//jv+eAGIAdf+M/54AYgB5AGH/i/+e/2wAYgB5AGX/i/+e
	/2oAYgB5AGn/i/+e/2gAYgB5AG//i/+e/24AYgB5AHX/i/+e/20AYwAf/28AYwBoAGH/
	gf9sAGMAaABl/4H/agBjAGgAaf+BAGMAaABv/4H/bgBjAGgAdf+B/20AYwB5AGH/gf9s
	AGMAeQBl/4H/agBjAHkAaf+B/2gAYwB5AG//gf9uAGMAeQB1/4H/bQBkAB//bwBkAGH/
	gP+eAGQAZf+D/54AZABoAGH/g/+e/2wAZABoAGX/g/+e/2oAZABoAGn/g/+e/2gAZABo
	AG//g/+e/24AZABoAHX/g/+e/20AZABp/4H/ngBkAG//hP+eAGQAdf+C/54AZAB3AHX/
	hP+e/2kAZAB5AGH/gf+e/2wAZAB5AGX/gf+e/2oAZAB5AGn/gf+e/2gAZAB5AG//gf+e
	/24AZAB5AHX/gf+e/20AZf90AGYAH/9vAGYAYf+M/2cAZgBl/4z/agBmAGn/jP9oAGYA
	b/+M/2sAZgB1/4wAZgB5AGH/jP9sAGYAeQBl/4z/agBmAHkAaf+M/2gAZgB5AG//jP9u
	AGYAeQB1/4z/bQBnAB//bwBnAGH/dv+eAGcAZf95/54AZwBp/3f/ngBnAG//ev+eAGcA
	df94/54AZwB3AGH/eP+e/2cAZwB5AGH/d/+e/2wAZwB5AGX/d/+e/2oAZwB5AGn/d/+e
	/2gAZwB5AG//d/+e/24AZwB5AHX/d/+e/20AaAAf/28AaABh/4oAaABl/40AaABp/4sA
	aABv/44AaAB1/4wAaAB5AGH/i/9sAGgAeQBl/4v/agBoAHkAaf+L/2gAaAB5AG//i/9u
	AGgAeQB1/4v/bQBp/3IAagAf/28AagBh/3z/nv9sAGoAZf98/57/agBqAGn/fP+eAGoA
	b/98/57/bgBqAHX/fP+e/20AagB5AGH/fP+e/2wAagB5AGX/fP+e/2oAagB5AGn/fP+e
	/2gAagB5AG//fP+e/24AagB5AHX/fP+e/20AawAf/28AawBh/3YAawBl/3kAawBp/3cA
	awBv/3oAawB1/3gAawB3AGH/eP9nAGsAeQBh/3f/bABrAHkAZf93/2oAawB5AGn/d/9o
	AGsAeQBv/3f/bgBrAHkAdf93/20AbAAf/28AbABh/2cAbABl/2oAbABp/2gAbABrAGEA
	EgBsAGsAZQATAGwAb/9rAGwAdABzAHX/bwBsAHQAdf9vAGwAdf9pAGwAdwBhABQAbAB5
	AGH/bABsAHkAZf9qAGwAeQBp/2gAbAB5AG//bgBsAHkAdf9tAG0AH/9vAG0AYf+PAG0A
	Zf+SAG0Aaf+QAG0Ab/+TAG0Adf+RAG0AeQBh/5D/bABtAHkAZf+Q/2oAbQB5AGn/kP9o
	AG0AeQBv/5D/bgBtAHkAdf+Q/20AbgAe/50AbgAf/28AbgAn/50AbgBh/4UAbgBl/4gA
	bgBp/4YAbgBu/50AbgBv/4kAbgB1/4cAbgB5AGH/hv9sAG4AeQBl/4b/agBuAHkAaf+G
	/2gAbgB5AG//hv9uAG4AeQB1/4b/bQBv/3UAcAAf/28AcABh/4r/nwBwAGX/jf+fAHAA
	af+L/58AcABv/47/nwBwAHX/jP+fAHAAeQBh/4v/n/9sAHAAeQBl/4v/n/9qAHAAeQBp
	/4v/n/9oAHAAeQBv/4v/n/9uAHAAeQB1/4v/n/9tAHIAH/9vAHIAYf+XAHIAZf+aAHIA
	af+YAHIAb/+bAHIAdf+ZAHIAeQBh/5j/bAByAHkAZf+Y/2oAcgB5AGn/mP9oAHIAeQBv
	/5j/bgByAHkAdf+Y/20AcwAf/28AcwBh/3sAcwBl/34AcwBoAGH/fP9sAHMAaABl/3z/
	agBzAGgAaf98AHMAaABv/3z/bgBzAGgAdf98/20AcwBp/3wAcwBv/38AcwB1/30AcwB5
	AGH/fP9sAHMAeQBl/3z/agBzAHkAaf98/2gAcwB5AG//fP9uAHMAeQB1/3z/bQB0AB//
	bwB0AGH/gAB0AGX/gwB0AGgAYf+D/2wAdABoAGX/g/9qAHQAaABp/4P/aAB0AGgAb/+D
	/24AdABoAHX/g/9tAHQAaf+BAHQAb/+EAHQAcwBh/4L/ZwB0AHMAZf+C/2oAdABzAGn/
	gv9oAHQAcwBv/4L/awB0AHMAdf+CAHQAdf+CAHQAdwB1/4T/aQB0AHkAYf+B/2wAdAB5
	AGX/gf9qAHQAeQBp/4H/aAB0AHkAb/+B/24AdAB5AHX/gf9tAHX/cwB2AB//bwB2AGH/
	c/+e/2cAdgBl/3P/nv9qAHYAaf9z/57/aAB2AG//c/+e/2sAdgB1/3P/ngB3AB//bwB3
	AGH/nAB3AGX/c/9qAHcAaf9z/2gAdwBv/2YAdwB1/3MAdwB5AGUAEQB3AHkAaQAQAHgA
	H/9vAHgAYf9nAHgAZf9qAHgAaf9oAHgAawBhABIAeABrAGUAEwB4AG//awB4AHQAcwB1
	/28AeAB0AHX/bwB4AHX/aQB4AHcAYQAUAHgAeQBh/2wAeAB5AGX/agB4AHkAaf9oAHgA
	eQBv/24AeAB5AHX/bQB5AB//bwB5AGH/lAB5AGX/cv9qAHkAaf9yAHkAb/+WAHkAdf+V
	AHoAH/9vAHoAYf97/54AegBl/37/ngB6AGn/fP+eAHoAb/9//54AegB1/33/ngB6AHkA
	Yf98/57/bAB6AHkAZf98/57/agB6AHkAaf98/57/aAB6AHkAb/98/57/bgB6AHkAdf98
	/57/bd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3dAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAA
	</data>
</dict>
</plist>
